<div class="row">
  <div class="col-sm-9">
    {{#ivy-videojs autoresize=autoresize class="vjs-default-skin" controls=controls currentHeight=currentHeight currentTime=currentTime currentWidth=currentWidth duration=duration loop=loop muted=muted naturalHeight=naturalHeight naturalWidth=naturalWidth playbackRate=playbackRate volume=volume}}
      {{ivy-videojs-source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4"}}
      {{ivy-videojs-source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm"}}
    {{/ivy-videojs}}
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label" for="currentTime">currentTime</label>
      {{input id="currentTime" max=duration min=0 readonly=true step=0.25 type="range" value=currentTime}}
      <small class="help-block">{{currentTime}}</small>
    </div>

    <div class="form-group">
      <label class="control-label" for="volume">volume</label>
      {{input id="volume" max=1 min=0 step=0.01 type="range" value=volume}}
      <small class="help-block">{{volume}}</small>
    </div>

    <div class="form-group">
      <label class="control-label" for="playbackRate">playbackRate</label>
      {{input id="playbackRate" max=5 min=0.5 step=0.5 type="range" value=playbackRate}}
      <small class="help-block">{{playbackRate}}</small>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label" for="currentWidth">currentWidth</label>
          {{input class="form-control" id="currentWidth" type="number" value=currentWidth}}
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label" for="currentHeight">currentHeight</label>
          {{input class="form-control" id="currentHeight" type="number" value=currentHeight}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label" for="naturalWidth">naturalWidth</label>
          {{input class="form-control" id="naturalWidth" type="number" value=naturalWidth}}
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label" for="naturalHeight">naturalHeight</label>
          {{input class="form-control" id="naturalHeight" type="number" value=naturalHeight}}
        </div>
      </div>
    </div>

    <div class="checkbox">
      <label>{{input checked=autoresize type="checkbox"}} autoresize</label>
    </div>

    <div class="checkbox">
      <label>{{input checked=controls type="checkbox"}} controls</label>
    </div>

    <div class="checkbox">
      <label>{{input checked=loop type="checkbox"}} loop</label>
    </div>

    <div class="checkbox">
      <label>{{input checked=muted type="checkbox"}} muted</label>
    </div>
  </div>
</div>
